body {
    background-color: #72C1F2
}

h4 { 
    color: #053959
}

p {
    color: #27538C
}

.site-header {
    background-color: #085A8C;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;  
    color: white;
}

.form-container {
    background-color: #AEDFF2;
    width: 250px;
    padding: 10px;
}

.form-title {
    font-family: arial;
    color: #148DD9;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
}

input[type=number] {
    border: 2px solid black;
    border-radius: 4px;
}

textarea {
    height: 100px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    resize: none;
}

select {
    padding: 6px 10px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #148DD9;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: #085A8C;
    font-size: 22px;
}

a:link {
    text-decoration: none;
}