/* BODY STYLING */

body {
    background-color: #72C1F2
}

h4 { 
    color: #053959
}

p {
    color: #27538C;
    font-family: arial;
}

/* HEADER STYLING */ 

.site-header {
    background-color: #085A8C;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;  
    color: white;
}

/* NAVBAR STYLING */

.topnav {
    overflow: hidden;
    background-color: #5096F2;
    font-family: arial;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* DROPDOWN MENU STYLING */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #085A8C;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* PRODUCT CARD LAYOUT */

#product-container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.pc-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
}

/* INDIVIDUAL PRODUCT CARD STYLING */

.card {
    flex: 1 1 21rem;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: normal;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px 15px;
    text-align: center;
    font-family: arial;
}

.price {
    color: #085A8C;
    font-size: 22px;
}

.card-title {
    color: white;
}

.card-title:hover {
    color: #AEDFF2
}

a:link {
    text-decoration: none;
}

/* FORM MODAL STYLING */

.form-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none; 
}

.form-modal-content {
    width: 250px;
    height: 550px;
    background-color: #AEDFF2;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 36px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* FORM STYLING */

.form-title {
    font-family: arial;
    color: #148DD9;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin: 4px auto;
}

input[type=number] {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin: 4px auto;
}

textarea {
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    resize: none;
}

select {
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #148DD9;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}